{%- set config = config["slack"] %}
{%- set ns = namespace(resource_count=0, fields=[]) %}
{%- if args.webhook is not none  %}
    {%- set webhook = args.webhook %}
{%- else %}
    {%- set webhook = config.get("webhook") %}
{%- endif %}
{%- if args.key.startswith('.') %}
    {%- set key = args.key | slice(1,) %}
{%- else %}
    {%- set key = args.key %}
{%- endif %}
{%- if args.value.startswith('.') %}
    {%- set value = args.value | slice(1,) %}
{%- else %}
    {%- set value = args.value %}
{%- endif %}
{%- for resource in stdin %}
    {%- set reported = resource.get("reported", {}) %}
    {%- set field = {"type": "mrkdwn", "text": "*" ~ reported.get(key, "") ~ "*: " ~ reported.get(value, "")} %}
    {%- do ns.fields.append(field) %}
    {% set ns.resource_count = ns.resource_count + 1 %}
    {%- if loop.index % 10 == 0 or loop.last %}
        {%- set discord_data = { "blocks": [{ "type": "header", "text": { "type": "plain_text", "text": args.title } }, { "type": "section", "text": { "type": "mrkdwn", "text": args.message } }, { "type": "section", "fields": ns.fields }, { "type": "context", "elements": [ { "type": "mrkdwn", "text": "Message created by Resoto" } ] } ] } %}
        json {{ discord_data | tojson }} | http POST {{ webhook }}
        {%- set ns.fields = [] %}
    {%- endif %}
{%- endfor %}
{%- if ns.resource_count == 0 %}
    {%- set discord_data = { "blocks": [{ "type": "header", "text": { "type": "plain_text", "text": args.title } }, { "type": "section", "text": { "type": "mrkdwn", "text": args.message } }, { "type": "context", "elements": [ { "type": "mrkdwn", "text": "Message created by Resoto" } ] } ] } %}
    json {{ discord_data | tojson }} | http POST {{ webhook }}
{%- endif %}
