{%- set config = config["discord"] %}
{%- set ns = namespace(resource_count=0) %}
{%- if args.webhook is not none  %}
    {%- set webhook = args.webhook %}
{%- else %}
    {%- set webhook = config.get("webhook") %}
{%- endif %}
{%- if args.key.startswith('.') %}
    {%- set key = args.key | slice(1,) %}
{%- else %}
    {%- set key = args.key %}
{%- endif %}
{%- if args.value.startswith('.') %}
    {%- set value = args.value | slice(1,) %}
{%- else %}
    {%- set value = args.value %}
{%- endif %}
{%- set fields = [] %}
{%- for resource in stdin %}
    {%- set reported = resource.get("reported", {}) %}
    {%- set field = {"name": reported.get(key, ""), "value": reported.get(value, "")} %}
    {%- do fields.append(field) %}
    {% set ns.resource_count = ns.resource_count + 1 %}
    {%- if loop.index % 25 == 0 or loop.last %}
        {%- set discord_data = {"embeds": [{"type": "rich", "title": args.title, "description": args.message, "fields": fields, "footer": {"text": "Message created by Resoto"}}]} %}
        json {{ discord_data | tojson }} | http POST {{ webhook }}
        {%- set fields = [] %}
    {%- endif %}
{%- endfor %}
{%- if ns.resource_count == 0 %}
    {%- set discord_data = {"embeds": [{"type": "rich", "title": args.title, "description": args.message, "footer": {"text": "Message created by Resoto"}}]} %}
    json {{ discord_data | tojson }} | http POST {{ webhook }}
{%- endif %}
